*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-image: url('./bg.jfif');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
.w-full{
    width: 100%;
}
.w-50{
    width: 50%;
}
.py-1{
    padding: 10px 0;
}
.my-2{
    margin: 20px 0;
}
body > div{
    background-color: #ffffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    border-radius: 10px;
    overflow: hidden;

    padding: 20px;

    width: 30%;
}
body h1 {
    margin-bottom: 10px;
}
body p {
    margin: 10px 0 30px 0;
}
div form div{
     display: flex;
     flex-flow: row;
     justify-content: space-between;

     margin: 15px 0;

}
div form div input {
    width: 70%;

    padding: 5px 10px;

    border: 1px solid gray;
    border-radius: 5px;

    outline: none;
}
div.btn_form{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 50%;

    margin: 10px auto;
}
div textarea{
    outline: none;
    border: 1px solid gray;

    border-radius: 10px;

    padding: 5px 10px;

    width: 70%;
    height: 200px;
}
div.btn_form button {
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 8px;

    color: #ffffffff;
    margin: 0 5px;
}
div.btn_form button:first-child {
    background-color: #01579B;
}
div.btn_form button:last-child {
    background-color: gray;
}

div.thanks_card button{
    margin: 10px 0;
    padding: 10px 50px;

    background-color: #01579B;
    border: none;
    outline: none;
    border-radius: 15px;
}
div.thanks_card button a {
    font-size: 18px;
    color: #ffffffff;
    text-decoration: none;

    

}